<h1>Welcome to instagram<%= ", #{current_user.email}" if current_user%></h1>

<p>
<br>
<% if current_user %>
  <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
  <%= link_to("Post new picture", new_picture_path) %>
<% else %>
  <p>Please sign in to upload pictures</p>
  <%= link_to("Login", new_user_session_path) %>
<% end %>
</p>
