<h2>Upload a picture</h2>

<form action="/pictures/new" method="post">
  <input type="text" name="image title" placeholder value="give your picture a title">
  <input type="text" name="caption" placeholder value="give your picture a caption">
  <input type="submit" value="post picture">
</form>
